<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Calzado</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Courgette&family=Montserrat&family=Parisienne&display=swap" rel="stylesheet">

  <body>
    <header>
      <h1>Pequeña Moda</h1>
    </header>
    <nav class="nav">
      <ul>

        <li><a href="#">bebe</a></li>
        <li><a target="_blank" href="/login" class="form_contact" id='botonProductos'>Admin</a></li>
      </ul>
    </nav>
    <section class="products">
      <div class="product">
        <img src="/img/bebe3.jpg" alt="Zapato 1">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p>conjusto para niño</p>
        <p>Precio: $30.00</p>
      </div>
      <div class="product">
        <img src="/img/bebe1.jpg" alt="Zapato 2">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p>conjusto para niño</p>
        <p>Precio: $25.00</p>
      </div>
      <div class="product">
        <img src="/img/bebe2.jpg" alt="Zapato 3">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p> conjusto para niño</p>

        <p>Precio: $30.00</p>
      </div>

    </section>
    <section class="products">
      <div class="product">
        <img src="/img/bebe4.jpg" alt="Zapato 1">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p>conjusto para niña</p>
        <p>Precio: $30.00</p>
      </div>
      <div class="product">
        <img src="/img/bebe5.jpg" alt="Zapato 2">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p>conjusto para niña</p>
        <p>Precio: $25.00</p>
      </div>
      <div class="product">
        <img src="/img/bebe6.jpg" alt="Zapato 3">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p> conjusto para niña</p>

        <p>Precio: $30.00</p>
      </div>

    </section>
    <section class="products">
      <div class="product">
        <img src="/img/bebe7.jpg" alt="Zapato 1">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p>conjusto para niño</p>
        <p>Precio: $30.00</p>
      </div>
      <div class="product">
        <img src="/img/bebe8.jpg" alt="Zapato 2">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p>conjusto para niño</p>
        <p>Precio: $25.00</p>
      </div>
      <div class="product">
        <img src="/img/bebe9.jpg" alt="Zapato 3">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p> conjusto para niño</p>

        <p>Precio: $30.00</p>
      </div>

    </section>
    <section class="products">
      <div class="product">
        <img src="/img/bebe10.jpg" alt="Zapato 1">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p>conjusto para niña</p>
        <p>Precio: $30.00</p>
      </div>
      <div class="product">
        <img src="/img/bebe11.jpg" alt="Zapato 2">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p>conjusto para niña</p>
        <p>Precio: $25.00</p>
      </div>
      <div class="product">
        <img src="/img/bebe12.jpg" alt="Zapato 3">
        <h2>conjunto para bebe</h2>
        <p>Marca: ovejita</p>
        <p> conjusto para niña</p>

        <p>Precio: $30.00</p>
      </div>

    </section>


    <%- include('footer') -%>
  </body>

</html>