@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-family: 'Courgette', cursive;
}

header {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  text-align: center;
  padding: 20px 0;
  font-family: 'Courgette', cursive;
}

nav {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  color: rgb(32, 29, 29);
  text-align: center;
  font-family: 'Courgette', cursive;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  text-align: center;
  margin: 20px;
}

.product img {
  width: 200px;
  border-radius: 50px;
}

footer {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 0;
}

